* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.float__box {
  width: 200px;
  height: 200px;
  background-color: midnightblue;
  color: white;
  padding: 30px;
  float: right;
}

p {
  font-size: 20px;
  clear: right;
}
