* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  background-color: tomato;
  margin-top: 50px;
  margin-left: 50px;
}

.wrapper {
  background-color: aqua;
  position: relative;
}

.box {
  border: 3px solid black;
  padding: 10px;
  width: 100px;
  text-align: center;
}

.box:nth-of-type(2n) {
  background-color: chartreuse;
}

.box:nth-of-type(2n + 1) {
  background-color: yellow;
}

.box1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.box2 {
  position: absolute;
  top: 30px;
  left: 50px;
  z-index: 3;
}

.box3 {
  position: absolute;
  top: 60px;
  left: 100px;
  z-index: 2;
}

.box4 {
  position: absolute;
  top: 90px;
  left: 150px;
  z-index: 1;
}

.box5 {
  position: absolute;
  top: 120px;
  left: 200px;
  z-index: 0;
}
