* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body 자체에 flex를 이용해줘도 된다. */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#d__day__container {
  padding: 30px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
}

h1 {
  margin-top: 50px;
  font-size: 3rem;
}

#d__day__container div {
  margin: 0px 10px;
}

#d__day__message {
  text-align: center;
  padding: 30px;
}

#target__selector {
  text-align: center;
  margin-bottom: 30px;
}

#start__btn,
#clear__btn {
  padding: 5px 10px;
  font-size: 1.3rem;
}
