@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Sono:wght@600&family=Tilt+Warp&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Sono", sans-serif;
  font-family: "Tilt Warp", cursive;
}

.container {
  margin: 50px;
}

.transform {
  padding: 15px;
  position: relative;
}

.before {
  width: 200px;
  height: 200px;
  background-color: #eeeeee;
  border: 3px dashed #c4c4c4;
}

.after {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 200px;
  height: 200px;
  background-color: slateblue;
  border: 3px dashed black;
  color: white;
  font-weight: 600;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.move__after {
  transform: translate(100px, 100px);
  z-index: 2;
}

.scale__after {
  transform: scale(1.5);
  z-index: 1;
}

.skew__before {
  z-index: 0;
}

.skew__after {
  transform: skew(15deg, 20deg);
  z-index: 3;
}

.rotate__after {
  transform: rotate(30deg);
  z-index: 4;
}
