.box {
  background-color: #c4c4c4;
  width: 400px;
  height: 300px;
  /* border : 굵기 스타일 색상  */
  border: 2px solid tomato;

  /* border 안 내부 여백 : padding, border 밖 외부 여백 : margin */
  /* padding은 배경 속성이 지정되어 있으면 함께 적용된다. */
  /* margin은 기본적으로 투명하다. */
  padding: 50px;
  margin: 50px;
}

.box1,
.box2 {
  width: 200px;
  height: 200px;
  background-color: darkseagreen;
}

/* content-box로 설정하면 content를 기준으로 css 조정하게 된다. (많은 이슈 발생) */
/* border-box로 설정하면 border를 기준으로 css 조정하게 된다. */
.box1 {
  padding: 50px;
  border: 1px solid green;
}
