* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.item {
  width: calc(25% - 7px);
  /* 가로 / 세로 비율 */
  aspect-ratio: 6/5;
  /* relative 적용하고 absolute 적용하면 각자 위치에 잘 위치하게 된다. */
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* 마우스 올렸을 때 색깔 변경되는 것 보여주기 위하여 */
.item:after {
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

/* 가상 요소 선택자에서 hover 순서 유의*/
.item:hover:after {
  opacity: 1;
  transition-duration: 0.3s;
}

.item:hover .imgBox img {
  transform: scale(1.1);
  /* 블러 처리 해주기. */
  filter: blur(3px);
}

.textBox__name {
  opacity: 0;
  transform: translateY(50px);
}

.textBox__price {
  opacity: 0;
  transform: translateY(50px);
}

.item:hover .textBox__name {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0s;
}

.item:hover .textBox__price {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.1s;
}

.imgBox {
  width: 100%;
  height: 100%;
}

.imgBox img {
  width: 100%;
  height: 100%;
  /* 이미지 망가지지 않게 하기 위하여 */
  object-fit: cover;
}

.textBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  z-index: 3;
}

.textBox p {
  color: white;
  margin: 5px 0 0;
}

.textBox__name {
  font-size: 22px;
  font-weight: 500;
}

.textBox__price {
  font-size: 16px;
  font-weight: 400;
}

/* 자연스럽게 트랜지션 적용하기. */
.item:after,
.item .imgBox img,
.item .textBox__name,
.item .textBox__price {
  transition: all 0.4s ease-in-out;
}
