* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.mainBanner {
  width: 100%;
  height: 280px;
  background-image: url("./images/banner.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mainBanner .text {
  font-size: 42px;
  font-weight: 700;
  color: white;
  /* x축 y축 퍼지는 정도 색상 */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  /* 애니메이션 넣고 싶은 곳에 넣어주기. */
  animation-name: titleText;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

/* 애니메이션 만들기 : 위로 튀어 올라오면서 내려가면서 튀기는 것처럼 자리에 정착하는 애니메이션 */
/* 1. keyframes 만들기. */
@keyframes titleText {
  0% {
    transform: translateY(70px);
    opacity: 0;
  }
  92% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.item {
  width: calc(25% - 7px);
  /* 가로 / 세로 비율 */
  aspect-ratio: 6/5;
  /* relative 적용하고 absolute 적용하면 각자 위치에 잘 위치하게 된다. */
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* 마우스 올렸을 때 색깔 변경되는 것 보여주기 위하여 */
.item:after {
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

/* 가상 요소 선택자에서 hover 순서 유의*/
.item:hover:after {
  opacity: 1;
  transition-duration: 0.3s;
}

.item:hover .imgBox img {
  transform: scale(1.1);
  /* 블러 처리 해주기. */
  filter: blur(3px);
}

.textBox__name {
  opacity: 0;
  transform: translateY(50px);
}

.textBox__price {
  opacity: 0;
  transform: translateY(50px);
}

.item:hover .textBox__name {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0s;
}

.item:hover .textBox__price {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.1s;
}

.imgBox {
  width: 100%;
  height: 100%;
}

.imgBox img {
  width: 100%;
  height: 100%;
  /* 이미지 망가지지 않게 하기 위하여 */
  object-fit: cover;
}

.textBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  z-index: 3;
}

.textBox p {
  color: white;
  margin: 5px 0 0;
}

.textBox__name {
  font-size: 22px;
  font-weight: 500;
}

.textBox__price {
  font-size: 16px;
  font-weight: 400;
}

/* 자연스럽게 트랜지션 적용하기. */
.item:after,
.item .imgBox img,
.item .textBox__name,
.item .textBox__price {
  transition: all 0.4s ease-in-out;
}

.body__menu {
  display: grid;
  grid-template-rows: 4fr 1fr;
  text-align: center;
  width: calc(40%);
  height: 100px;
  color: white;
  font-weight: 500;
}

.menu__list {
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 5px;
}

.menu__list .list {
  padding: 15px;
  list-style: none;
}

.menu__registration {
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.total__container {
  display: flex;
  flex-direction: column;
}

.container__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px;
}

.container {
  margin-left: 50px;
}
