* {
  box-sizing: border-box;
  margin: 0px;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.wrapper-header {
  width: 100%;
  height: 50%;
}

.wrapper-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contents-title {
  font-weight: 700;
  font-size: 13px;
  color: #55b2d4;
  padding: 8px;
  padding-right: 5px;
}

.contents-sub-title {
  font-weight: 400;
  font-size: 8px;
  color: #000000;
}

.divideLine {
  border: none;
  width: 464px;
  border-top: 1px solid #c4c4c4;
}

.wrapper-header-feeling {
  padding: 8px;
  font-family: "Malgun Gothic";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  color: gray;
}

.wrapper-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.video {
  width: 464px;
  height: 240px;
  background-color: #c4c4c4;
}
